@font-face {
  font-family: "Ethnocentric";
  src: url("../fonts/ethnocentric/ethnocentric rg.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Ethnocentric";
  src: url("../fonts/ethnocentric/ethnocentric rg it.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/ethnocentric/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/ethnocentric/Poppins-Bold.ttf") format("ttf");
  font-weight: bold;
}

h1, h2, h3 {
  font-family: "poppins", sans-serif;
}
.link-opacity-100 {
  margin: 10px;
}

.cajaProyecto {
  margin-top: 30px;

  box-shadow: 2px 2px 5px 5px #55b0f7;

}
.object-fit-cover {
  object-fit: cover;
}


body {
  font-family: "poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;

}
.product_section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product_section .img-box {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flexbox;
  width: 60%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* ajustable */
  gap: 15px;
}

.product_section .img-box img {
  width: 100%;
}

.product_section .img-box.box-1, .product_section .img-box.box-3 {
  width: 43%;
}

.product_section .img-box.box-2, .product_section .img-box.box-4 {
  width: 53%;
}

.product_section a {
  display: inline-block;
  padding: 14px 35px;
  background-color: transparent;
  border: 1.5px solid #55b0f7;
  color: #55b0f7;
  color: #2f79b7;
}

.product_section a:hover {
  background-color: #55b0f7;
  color: #ffffff;
}


.section1 {
  margin-top: 10px;
  margin-left: 75px;
  display: inline-flex;
  align-items: center;
}

.card {
  align-items: center;

}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading {
  position: relative;
}

.custom_heading::before {
  position: absolute;
  content: "";
  left: -45px;
  width: 37px;
  height: 32px;
  background-color: #000924;
  background-size: cover;
}

/*header section*/
.hero_area {
  height: 98vh;
  background-color: #000924;
  background-size: cover;
  background-attachment: fixed;
}

.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
         
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 15px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
 background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  margin-right: 0;
}

.navbar-brand img {
  width: 45px;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  font-family: "poppins";
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 35px;
}

/*end header section*/
.hero_section {
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75%;
}

.hero_section h1 {
  font-size: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.hero_section .hero_btn-box a {
  display: inline-block;
  padding: 12px 55px;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  margin-top: 55px;
  text-transform: uppercase;
}

.hero_section .hero_btn-box a:hover {
  background-color: #ffffff;
  color: #55b0f7;
}

.sub_page .about_section .about_container {
  margin-top: 0;
}

.about_section .about_container {
  width: 85%;
  margin: auto;
  padding: 75px 45px;
  background-color: #fff;
  background-image: url(../images/camara.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 60%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.21);
  margin-top: -150px;
}

/* Tabletas (pantallas medianas) */
@media (max-width: 1024px) {
  .about_section .about_container {
    background-size: auto 100%; /* más pequeña */
    background-position: right; 
    padding-bottom: 10px; /* espacio para que no se superponga */
  }
}

/* Celulares */
@media (max-width: 768px) {
  .about_section .about_container {
    background-image: none; /* o reemplaza por otra versión */
    padding-bottom: 0; /* ya no necesitas espacio */
  }
}

.acercaDeMi {
  width: 85%;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 70%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.21);
  margin-top: 50px;
  margin-block-end: 20px;
}

.about_section .about_container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_section .about_container .container > div {
  width: 46%;
}

.about_section .detail a {
  display: inline-block;
  padding: 14px 35px;
  background-color: transparent;
  border: 1.5px solid #55b0f7;
  color: #55b0f7;
  color: #2f79b7;
  margin-top: 75%;
}

.about_section .detail a:hover {
  background-color: #55b0f7;
  color: #ffffff;
}

.about_section .detail-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product_section a {
  display: inline-block;
  padding: 14px 35px;
  margin-top: 20px;
  background-color: transparent;
  border: 1.5px solid #55b0f7;
  color: #55b0f7;
  color: #2f79b7;
}

.product_section a:hover {
  background-color: #55b0f7;
  color: #ffffff;
}


.why_section .why_container .img_box {
  width: 70%;
  margin: 0 auto;

}


.why_section .why_container .img_box img {
  width: 100%;
}

.why_section a {
  display: inline-block;
  padding: 14px 35px;
  background-color: transparent;
  border: 1.5px solid #55b0f7;
  color: #55b0f7;
  color: #2f79b7;
}

.why_section a:hover {
  background-color: #55b0f7;
  color: #ffffff;
}

.contact_section {
  color: #fff;
  background-color: #000924;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact_section h2::before {
  background-color: #000924;
}

.contact_section input {
  width: 100%;
  border: 0;
  height: 50px;
  border-radius: 30px;
  margin: 20px 0;
  padding-left: 25px;
  background-color: #ffffff;
  outline: none;
  color: #101010;
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 150px;
}

.contact_section button {
  background-color: #439ef1;
  padding: 15px 55px;
  outline: none;
  border: none;
  border-radius: 30px;
  border: 1px solid #55b0f7;
  color: #fff;
  font-weight: bold;
}

.contact_section button:hover {
  color: #55b0f7;
  background-color: transparent;
}


.info_section {
  background-color: #000924;
  background-size: cover;
  background-attachment: fixed;
}

.info_section .logo-box {
  width: 200px;
  margin: 0 auto 75px auto;
}

.info_section .logo-box img {
  width: 100%;
}

.info_items {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.info_items .item .img-box {
  width: 50px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}

.info_items .item .img-box img {
  width: 100%;
}

.info_items .item .detail-box {
  margin-top: 10px;
  color: #fff;
}

.info_items {
  position: relative;
}

.info_items a {
  position: relative;
}

/* footer section*/
footer {
  background-color: #55b0f7;
  padding: 20px;
  font-weight: 500;
  color: #292929;
  margin: 0;
  text-align: center;
}


/*# sourceMappingURL=style.css.map */